.cardSkill{

    border: 1px solid #ABB2BF42;
    min-width: 250px;
  cursor: pointer;
  scroll-snap-align: start;
  background: transparent;
  backdrop-filter: blur(15px);

&__title{
    padding: 5px ;
}
    &__list{
        @include d-flex($direction: row);
        border-top:  1px solid #ABB2BF42;
        color: $secondary;
       gap: 10px;
       li{ 
        padding: 5px 0;
       }
    }
}


.cardTag {
    border: 1px solid #ABB2BF42;
    width: fit-content;
    padding: 8px;
    color: $secondary;
    gap: 10px;
    position: relative;
    background: transparent;
    backdrop-filter: blur(15px);
    overflow: hidden;
    color: $secondary;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: -80px;
        bottom: 0;
        left: 0;
        border-right: 50px solid   $primary;
        border-bottom: 80px solid #00000041;
        transform: translateX(-110%);
        transition: transform 1s ease; /* Ajout de la propriété de transition */
   
    }

    &:hover {
        color: $light;
        cursor: pointer;

        &:before {
            transform: translateX(0);
        }
    }
}




.project{
    @include d-flex($direction: row);
    gap: 2rem;

    @include small-device {
        flex-direction: column;
    }
   
}
.cardProject {
    border: 1px solid #ABB2BF42;
    cursor: pointer;
    width: 22%;
    scroll-snap-align: start;
    background: transparent;
    backdrop-filter: blur(15px);

    &__header {
        img {
            width: 100%;
            height: 150px;
            object-fit: cover;

            :hover{
                transform: scale(1.1);
            }
        }
    }
    @include small-device {
       width: 100%;
    }
   
}
.cardProject__content{
    padding: 10px;
   display: flex;
   flex-direction: column;
   gap: 1.5rem;
  
}
.cardProject__footer{
     text-align: start;
   a{
   
       text-decoration: none;
       color: $secondary;
       border: 1px solid $secondary;
       padding: 2px 5px;
       margin: 2px;
       &:hover{
           background: $primary;
           color: $light;
       }
   }
}