.nav{
    position: sticky;
    top: 0;
    background-color: $dark;
    @include d-flex($justify: space-between);
    padding: 20px 0;
    &__link{
        @include d-flex($justify: space-between);
        gap: 20px;
       & li{
            list-style: none;

            a{
                text-decoration: none;
            color: $secondary;   
            & .title__index{
                font-size: medium;
               
            } 
            & .title{
                font-size: medium;
                margin: 0;
            } 
             
            } 
            .active{
                color: $light;
                font-weight: 600;
            }
            
        }
    }
}


.logo {
    position: relative; 
  cursor: pointer;
    &::before {
      content: "•";
      position: absolute;
      left: -39px; /* Positionnement initial du point à gauche */
      top: -47px; /* Positionnement initial du point en haut */
      font-size: 5.5rem;
      color: $primary;
      transition: left 0.5s ease-in-out; /* Définir une transition fluide */
    }
  
    &:hover::before {

      left: 160px; /* Définir la position finale du point à droite */
    }
    &::after {
        content: "";
        position: absolute;
        left: 0; /* Définir la position de départ de la ligne à gauche */
        bottom: 0; /* Définir la position de départ de la ligne en bas */
        width: 0; /* Largeur initiale de la ligne */
        height: 2px; /* Hauteur de la ligne */
        background-color: $primary; /* Couleur de la ligne */
        transition: width 0.5s ease-in-out; /* Définir une transition fluide */
      }
    
      &:hover::after {
        width: 100%; /* Largeur finale de la ligne */
      }
  }
  