@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
$primary: #FF6060;
$secondary:#ABB2BF;
$light:#FFFFFF;
$dark : #282C33;
$font-family: 'Fira code', monospace , sans-serif;
$border-radius: 10px;
$width-content: 80%;
$width-content-mobile: 90%;
